.container.contact_container{
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}
.contact_options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.contact_option{
    background: #2c2c6c;
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: all 400ms ease;
}
.contact_option:hover{
    background: transparent;
    border-color: rgba(77, 181, 255, 0.4);
}
.contact_option-icon{
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
}
.contact_option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
}

/******************** form ******************/

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
input , textarea{
    width: 100%;
    padding: 1.3rem;
    border-radius: 0.5rem;
    background: transparent;
    color: #fff;
    border: 2px solid rgba(77, 181, 255, 0.4);
    resize: none;
}