.service{
    background: #2c2c6c;
    border-radius: 0 0 2rem 2rem;
    border: 1px solid #4db5ff;
    height: fit-content;
    width: 470px;
    transition: all 400ms ease;
    margin: 0 auto;
}
.service:hover{
    background: transparent;
    border-color: rgba(77, 181, 255, 0.4);
    cursor: default;
}
.service-head{
    background: #4db5ff;
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}
.service-head h3{
    color: #1f1f38;
    font-size: 1rem;
    text-align: center;
}
.service-list{
    padding: 2rem;
}
.service-list li{
    display: flex;
    gap:1rem;
    margin-bottom: 1.2rem;
}
.service-list-icon{
    color:#4db5ff;
    margin-top: 2px;
}
.service-list p{
    font-size: 0.9rem;
}
@keyframes fadeInUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  
  .fadeInUp-animation {
    animation: 5s fadeInUp;
  }
.emoji > *{
    width: 400px;
    height: 400px;
}
.emoji > :nth-child(1){
    transform: scale(0.9);
    margin-top: -560px;
    margin-left: 120px;
}
.emoji > :nth-child(2){
    transform: scale(0.9);
    margin-top: -560px;
    margin-left: 1240px;
}
.crown{
    width: 200px;
    height: 80px;
    border-radius: 0.5rem;
    background: #fff;
    color: #2c2c6c;
    display: flex;
    gap: 1rem;
    margin-top: 40px;
    margin-left: 1240px;
    transform: rotate(20deg);
    box-shadow: -1px 0px 5px 4px rgba(212, 212, 212, 0.5);
    border: 1px solid #4db5ff;
    transition: all 400ms ease;
}
.crown:hover{
    background: transparent;
    color: #fff;
    border: #4db5ff;
    transform: rotate(0);
}
.crown p{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    margin-top: 10px;
    margin-right: 5px;
}
.thunbup{
    width: 200px;
    height: 80px;
    border-radius: 0.5rem;
    background: #fff;
    color: #2c2c6c;
    display: flex;
    gap: 1rem;
    margin-top: 80px;
    margin-left: 150px;
    box-shadow: -1px 0px 5px 4px rgba(212, 212, 212, 0.5);
    border: 1px solid #4db5ff;
    transition: all 400ms ease;
}
.thunbup:hover{
    background: transparent;
    color: #fff;
    border: #4db5ff;
    transform: rotate(20deg);
}
.thunbup p{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    margin-top: 10px;
    margin-right: 5px;
}